.layout{
    padding-left: 100px;
    padding-right: 70px;
    
    margin-top: 120px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}
.option-button{
   border-radius: 50%;
   width: 300px;
   height: 300px;
   background-color: #343434eb;
   border-color: white;
   border-width: 2.5px;
   overflow: hidden;
   transition: background-color 0.3s ease, transform 0.3s ease;
}

.options p{
   font-family: "Poppins";
   font-weight: 700;
   font-size: 30px;
   margin:20px;
   transition: transform 0.3s ease, font-size 0.3s ease;
}
.option{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem; /* 5 units */
    margin:40px;
    border-radius: 1rem; /* 10px */
    background-color: var(--dark-surface);
    border: 2px solid;
    cursor: pointer;
    transition: all 0.3s ease;

}
#title{
    position: relative;
    font-size: 60px;
    padding: 25px;
    top: 30px;

}
.paragraph{
    font-size: 23px;
   
}
#gender-step-para, #goal-step-para, #ethnicity-step-para{
    height: 90px;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #B3A0FF;
    color: black;

}
.button-caption{
    color: orange;
    text-align: center;
   
}

.option img{
   height: 100px;
  
}
.option-button:hover{
    background-color: #FB5959;
    border-width: 20px; 
    transform: scale(1.1);
    border-color: #FB5959;
  
    
}

.option-button:hover #icon{
    filter: drop-shadow(0px 200px 0 #000000);
    transform: translateY(-200px);
  

}
.option-button:hover .button-caption{
    transform: scale(1.1);
    font-size:50px;

}


/* turns icon black - use when hover and selecting.option img{
    height: 100px;
    filter: drop-shadow(0px 200px 0 #000000);
    transform: translateY(-200px);
   
 }
 */
 




